body{
  background: linear-gradient(to right, #24322b, #828b7f, #5bede8);
  height: 100vh;
  margin: 0;
  padding: 0;
}
.umumiy{
  border: 1px solid #aca8a820;
}

.ota{
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 10% 90% 10%;
}

.logo{
  grid-column: 1 / 3;
  color: white;
  font-size: 40px;
  text-align: center;
  font-family: 'Arial Black', Gadget, sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer{
  grid-column: 1 / 3;
}

.link1{
  text-decoration: none;
  padding: 10px;
  color: rgb(160, 166, 154);
  font-size: 26px;
  margin-top: 40px;
  transition: color 0.3s;
}

.link1:hover{
  color: white;
}

.real{
  width: 6%;
  margin-left: -20%;
}

.menu{
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.menu_div{
  background-color: rgb(55, 65, 54);
  width: 100%;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu_h2{
  color: white;
}

.content{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.ichindagi_katak{
  border: 1px solid #9fa1a1;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.ichindagi_katak:hover{
  transform: scale(1.05);
}

.rasmlar{
  width: 100%;
  height: 100%;
}

.ism{
  text-align: center;
  font-size: 20px;
  font-family: 'Arial Black', Gadget, sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
  
}





.footer_p {
  background: rgba(0, 0, 0, 0.6); 
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
}


@media (max-width: 768px) {
  .ota {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
  }

  .logo {
    grid-column: 1;
  }

  .footer {
    grid-column: 1;
  }

  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
  }
}